---
Checks:
  #  For a list of checks, see:
  #  https://clang.llvm.org/extra/clang-tidy/checks/list.html
  - '*'
  - '-altera-*'  # Not applicable.
  - '-android-cloexec-*'  # O_CLOEXEC not available on Windows, is non-portable.
  - '-boost-use-ranges'  # Would introduce extra dependency on boost.
  - '-bugprone-easily-swappable-parameters'  # When you need them, you need them.
  - '-cert-err58-cpp'  # Rather unlikely that this is a problem.
  - '-concurrency-mt-unsafe'  # All the code is single-threaded.
  - '-cppcoreguidelines-avoid-c-arrays'  # Makes sense for some array, but especially for char arrays using std::array isn't a good solution.
  - '-cppcoreguidelines-avoid-magic-numbers'  # Generally good advice, but there are too many places where this is useful, for instance in tests.
  - '-cppcoreguidelines-pro-bounds-array-to-pointer-decay'  # When it is needed, it is needed.
  - '-cppcoreguidelines-pro-bounds-pointer-arithmetic'  # Difficult to get by without it...
  - '-cppcoreguidelines-pro-type-static-cast-downcast'  # This is needed and totally okay if we are sure about the types.
  - '-cppcoreguidelines-pro-type-vararg'  # Too strict, sometimes calling vararg functions is necessary.
  - '-fuchsia-*'  # Much too strict.
  - '-google-runtime-references'  # This is just a matter of preference.
  - '-hicpp-avoid-c-arrays'  # Makes sense for some array, but especially for char arrays using std::array isn't a good solution.
  - '-hicpp-no-array-decay'
  - '-hicpp-vararg'  # Too strict, sometimes calling vararg functions is necessary.
  - '-llvm-prefer-static-over-anonymous-namespace'  # Matter of taste and we are not following this one.
  - '-llvmlibc-*'  # Not applicable.
  - '-misc-include-cleaner'  # Too many reports. Disabled for now.
  - '-misc-no-recursion'  # Nothing wrong about recursion.
  - '-modernize-avoid-c-arrays'  # Makes sense for some array, but especially for char arrays using std::array isn't a good solution.
  - '-modernize-use-trailing-return-type'  # I am not quite that modern.
  - '-readability-identifier-length'  # Sometimes short variable names are okay.
  - '-readability-implicit-bool-conversion'  # I don't think this makes the code more readable.
  - '-readability-magic-numbers'  # Generally good advice, but there are too many places where this is useful, for instance in tests.
  - '-readability-use-anyofallof'  # Not necessarily more readable.
# WarningsAsErrors: '*'
...
